{% load static %}
<!DOCTYPE html>
<html data-bs-theme="auto">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Remiux |{% block title %} Contraseña restaurada{% endblock %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all,follow" />

    <script src="{% static '/assets/js/color-modes.js' %}"></script>
    <!-- gLightbox gallery-->
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <!-- Charts -->

    <!-- Bootstrap -->
    <link href="{% static '/assets/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
    <!-- AOS library -->
    <link href="{% static '/assets/css/shop.css'%}" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body>
    
    <div class="container d-flex align-items-center flex-column justify-content-center my-3">
    {% if validlink %}
      <header class="col-12 text-center">
        <h1 class="text-uppercase">
          Cambio de contraseña</h1>
          <p>Por favor introduzca su nueva contraseña.</p>
      </header>
      
      <form class="col-12 col-sm-6 " action="" method="post">
      {% csrf_token %}
      <div class=" input-group mt-4">
                  
        <input type="password" class="form-control" id="floatingInputPassword1" name="new_password1" required placeholder="Contraseña nueva" aria-label="Recipient's new password" aria-describedby="basic-addon2">
        
        <span class="input-group-text" id="basic-addon2">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi-eye-slash-fill cursor-pointer " viewBox="0 0 16 16" id="eyeSlashIcon1">
                <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"></path>
            <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"></path>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi-eye-fill cursor-pointer d-none" viewBox="0 0 16 16" id="eyeIcon1">
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"></path>
                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"></path>
            </svg>
            
        </span>
        
      </div>
      {% if form.new_password1.errors %}
      <div class="col-12 mt-2">
        <div class="alert alert-danger p-3">
          {% for error in form.new_password1.errors %}
          {{error}}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <div class=" input-group mt-4">
                  
        <input type="password" class="form-control" id="floatingInputPassword2" name="new_password2" required placeholder="Confirmar contraseña" aria-label="Recipient's password confirm" aria-describedby="basic-addon2">
        
        <span class="input-group-text" id="basic-addon2">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi-eye-slash-fill cursor-pointer " viewBox="0 0 16 16" id="eyeSlashIcon2">
                <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"></path>
            <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"></path>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi-eye-fill cursor-pointer d-none" viewBox="0 0 16 16" id="eyeIcon2">
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"></path>
                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"></path>
            </svg>
            
        </span>
        
      </div>
      {% if form.new_password2.errors %}
      <div class="col-12 mt-2">
        <div class="alert alert-danger p-3">
          {% for error in form.new_password2.errors %}
          {{error}}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <div class="col-12 d-flex justify-content-end mt-4">
        <input type="submit" class="btn btn-outline-primary border-2 shadow-sm fw-medium" value="Cambiar contraseña">
        </div>
        
      </form>
    
  {% else %}
  <header class="col-12 text-center">
    <h1 class="text-uppercase">
      Cambio de contraseña fallido</h1>
      <p>Link de restauracion inválido.</p>
      <div class="w-100 d-flex mt-3 justify-content-center">
        <a class="btn btn-outline-primary shadow-sm border-2 fw-medium" href="{% url "shop_view" %}">Ir a inicio</a>
      </div>
  </header>
     {% endif %}
    </div>
    


    <script src="{% static '/assets/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/assets/js/registerpass.js' %}"></script>
    
  </body>
</html>