{% load static %}

{% if header_form %}
    <form 
    enctype="multipart/form-data"
    hx-post="{% url 'save_header_settings_view' %}"
    hx-target="#SettingsHeaderForm"
    hx-swap="innerHTML"
    hx-trigger="submit"
    hx-indicator="#spinnerSettingsHeader">
    {% csrf_token %}
    <div class="w-100 d-flex gap-2 justify-content-around align-items-center mb-3">
      <img class="img-fluid rounded" width="100" height="100" src="{% if header.image %}{{header.image.url}}{% else %}{% static "./assets/img/image_not_found.jpg" %}{% endif %} " alt="{% if header.image %}{{header.image}}{% else %}{% static "./assets/img/image_not_found.jpg" %}{% endif %}">
    
      <div class="input-group ">
        <input type="file" name="image" class="form-control" id="{{ header_form.image.id_for_label }}">
        <label class="input-group-text " for="{{ header_form.image.id_for_label }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class=" bi-shop" viewBox="0 0 16 16">
            <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.37 2.37 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0M1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5M4 15h3v-5H4zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1zm3 0h-2v3h2z"/>
          </svg>
        </label>
        
      </div>
      
      
    </div>
    {% if header_form.image.errors %}
              <div class="alert alert-danger mt-2">
              {% for error in header_form.image.errors %}
                  {{ error }}
              {% endfor %}
            </div>
      {% endif %}
    <div class="mb-3">
        <label for="{{ header_form.principal_title.id_for_label }}" class="form-label">Principal title</label>
        <input type="text" name="principal_title" value="{% if header_form.principal_title.value %}{{header_form.principal_title.value}}{% endif %}" class="form-control" id="{{ form.principal_title.id_for_label }}" placeholder="Principal title">
        {% if header_form.principal_title.errors %}
                <div class="alert alert-danger mt-2">
                {% for error in header_form.principal_title.errors %}
                    {{ error }}
                {% endfor %}
              </div>
        {% endif %}
    </div>
    <div class="mb-3">
        <label for="{{ header_form.secundary_title.id_for_label }}" class="form-label">Secondary title</label>
        <textarea class="form-control" name="secundary_title" id="{{ header_form.secundary_title.id_for_label }}" rows="3">{% if header_form.secundary_title.value %}{{ header_form.secundary_title.value }}{% endif %}</textarea>
        {% if header_form.secundary_title.errors %}
                <div class="alert alert-danger mt-2">
                {% for error in header_form.secundary_title.errors %}
                    {{ error }}
                {% endfor %}
              </div>
        {% endif %}
    </div>
        {% if message %}
          <div class="alert alert-dismissible alert-success d-flex align-items-center mb-0 mt-2  px-2 fade show" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="me-2 bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
              </svg>
              <div class="small">
                {{message}}
              </div>
              <span type="button" class="btn-close px-2" data-bs-dismiss="alert" aria-label="Close"></span>
            </div>
            
        {% endif %}
        {% if error %}
          <div class="alert alert-dismissible alert-danger d-flex align-items-center mb-0 mt-2 px-2 fade show" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="me-2 bi-exclamation-triangle-fill" viewBox="0 0 16 16">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
            </svg>
              <div class="small">
                {{error}}
              </div>
              <span type="button" class="btn-close px-2" data-bs-dismiss="alert" aria-label="Close"></span>
            </div>
          {% endif %}
        <small class="d-flex justify-content-end w-100 mt-2">
        <button type="submit" class="btn d-flex justify-content-center align-items-center btn-outline-primary shadow-sm border-2 border-primary px-5">
            <span id="spinnerSettingsHeader" class="htmx-indicator spinner-border spinner-border-sm  me-2" ></span>Save</button>
    </small>
    </form>
{% endif %}