{% load static %}

<div class="list-group w-100"
                  
                  >
                  {% csrf_token %}
                  
                  <button 
                  hx-get="{% url 'save_shop_settings_view' %}"
                  hx-target="#SettingsShopForm"
                  hx-swap="innerHTML"
                  hx-trigger="click"
                  hx-indicator="#spinnerSettingsShop"
                   type="button"  class="{% if shop_change.is_active %}disabled border-0{% else %}{% endif %} list-group-item rounded-top  list-group-item-success list-group-item-action d-flex align-items-center gap-3 py-3" aria-current="true">
                    
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class=" bi-cart-check" viewBox="0 0 16 16">
                        <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                      </svg>
                  
                    <div class="pointer d-flex gap-2 w-100 justify-content-between align-items-center">
                      <div>
                        <h6 class="mb-0">Activar ventas de tienda</h6>
                    <p class="mb-0 opacity-75">
                      Ventas de tienda disponibles.</p>
                      </div>
                    </div>
                  </button>
                  <button 
                  hx-get="{% url 'save_shop_settings_view' %}"
                  hx-target="#SettingsShopForm"
                  hx-swap="innerHTML"
                  hx-trigger="click"
                  hx-indicator="#spinnerSettingsShop"
                  type="button" class="{% if shop_change.is_active %}{% else %}disabled border-0{% endif %}  list-group-item list-group-item-danger list-group-item-action align-items-center d-flex gap-3 py-3" aria-current="true">
                    
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class=" bi-cart-x" viewBox="0 0 16 16">
                        <path d="M7.354 5.646a.5.5 0 1 0-.708.708L7.793 7.5 6.646 8.646a.5.5 0 1 0 .708.708L8.5 8.207l1.146 1.147a.5.5 0 0 0 .708-.708L9.207 7.5l1.147-1.146a.5.5 0 0 0-.708-.708L8.5 6.793z"/>
                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                      </svg>
                    
                    <div  class="pointer d-flex gap-2 w-100 justify-content-between align-items-center">
                      <div>
                        <h6 class="mb-0">Desactivar ventas de tienda</h6>
                    <p class="mb-0 opacity-75">Ventas de tienda no disponibles.</p>
                      </div>
                       </div>
                  </button>
              
        </div>
        