{% extends "base.html" %}
{% load static %}
{% block title %}Local sales{% endblock %}
{% block contend %}
       

{% include 'sales/local_order_templates/actions/localOrderCreate/offcanvasRightLocalOrderCreate.html' %}
{% comment %} {% include 'product_templates/actions/productDetail/offcanvasRightProductDetail.html' %}
{% include 'product_templates/actions/productUpdate/offcanvasRightProductUpdate.html' %} {% endcomment %}
{% include 'sales/local_order_templates/actions/localOrderDelete/modalLocalOrderDelete.html' %}

  <!-- row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6  g-5  pb-5 -->
  <div class="w-100 d-flex justify-content-between align-items-center my-2" >
    <div class="input-group" style="min-width: 200px;max-width: 300px;">
      
      <input type="search" 
            class="form-control"
            
            name="keyword" placeholder="Search movies..." 
            hx-post="{% url 'local_order_results_view' %}" 
            hx-trigger="load, input changed delay:500ms, keyword" 
            hx-target="#LocalOrderResults" 
            hx-indicator="#spinner"
            hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
        >
        <span class="input-group-text" id="basic-addon1">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class=" bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
          </svg>
        </span>
    </div>
    
    <span class="w-100 text-end">
      
        <button type="submit" class="btn btn-outline-success shadow-sm border-2 border-success px-4"
        data-bs-toggle="offcanvas" data-bs-target="#offcanvasRightLocalOrderCreate" aria-controls="offcanvasRight"
        >
          <svg class="" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
          </svg>
        </button>
   
    
  </span>
  </div>  

        <div 
    hx-get="{% url 'local_order_results_view' %}"
    hx-target="#LocalOrderResults"
    hx-trigger="load"
    hx-swap="innerHTML"
    hx-indicator="#spinner"></div>

    <div class="w-100 position-relative d-flex justify-content-center align-items-center" >
    <div id="spinner" class="htmx-indicator w-100 h-100  loadding-blur position-absolute z-10 d-flex justify-content-center align-items-center"
    style="min-height: 200px;z-index: 1000;">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div class="w-100" id="LocalOrderResults">
      
    </div> 
    </div>
    

  

 
{% endblock contend %}

        
