{% extends "shop_templates/base.html" %}
{% load static %}

{% block contend %}
<div class="container py-5 mt-2 mb-4">
    <div class="row mb-5">
      <div class="col-lg-5 mb-2">
        <!-- PRODUCT SLIDER-->
         
        <div class="row m-sm-0">
          <div id="carouselExampleCaptions" class="carousel slide carousel-fade ">
            <div class="carousel-indicators">
              
              {% if product.image_one %}
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              
              {% endif %}
              {% if product.image_two %}
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
             
              {% endif %}
              {% if product.image_three %}
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
           
              {% endif %}
              </div>
            <div class="carousel-inner rounded-2">
                {% if product.image_one %}
                <div class="carousel-item active">
                    
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-2 shadow-sm  border-0" 
                        style="background-position: center center;background-size: cover; background-image: url('{{product.image_one.url}}');">
                            
                            <div class="w-100 h-100 d-flex flex-column p-3 justify-content-between bg-opacity-50 " style="min-height: 320px;">
                                
                            </div>
                            
                            
                        </div>
                  </div>
                {% endif %}
                {% if product.image_two %}
                <div class="carousel-item ">
                   
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-2 shadow-sm  border-0" 
                        style="background-position: center center;background-size: cover; background-image: url('{{product.image_two.url}}');">
                            
                            <div class="w-100 h-100 d-flex flex-column p-3 justify-content-between bg-opacity-50 " style="min-height: 320px;">
                                
                            </div>
                            
                            
                        </div>
                  </div>
                {% endif %}
                {% if product.image_three %}
                <div class="carousel-item">
                    
                    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-2 shadow-sm  border-0" 
                        style="background-position: center center;background-size: cover; background-image: url('{{product.image_three.url}}');">
                            
                            <div class="w-100 h-100 d-flex flex-column p-3 justify-content-between bg-opacity-50 " style="min-height: 320px;">
                                
                            </div>
                            
                            
                        </div>
                  </div>
                {% endif %}
                
            </div>
            
          </div>
      </div>
      </div>
      <!-- PRODUCT DETAILS-->
      <div class="col-lg-7">
        
        <h1>{{product.name}}</h1>
        
        
        <ul class="list-unstyled small d-inline-block mb-2">
          <li class="py-1  d-flex justify-content-start">
            <div class="d-flex justify-content-center align-items-center">
                {% for star in product.rating %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="me-2 text-warning  bi-star-fill" viewBox="0 0 16 16">
                      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                    
                    {% endfor %}
                </div>
         </li>
         <li class="py-1  "><strong class=" fs-5 ">Marca:</strong> 
          <strong class="text-muted fs-6 ">
            {{product.brand}}
         </strong>

        </li>
          <li class="py-1   "><strong class=" fs-5">Categoría:</strong><strong class="text-muted fs-6"> 
            {% if product.categories.all %}
                      {% with categories_count=product.categories.all.count %}
                          {% if categories_count > 1 %}
                          {% for category in product.categories.all %}
                          <li>{{ category.name }}</li>
                          {% endfor %}
                              
                              
                          {% else %}
                              {{ product.categories.all.0.name }}
                          {% endif %}
                      {% endwith %}
                  
                  {% endif %} </strong></li>
          <li class="py-1  "><strong class=" fs-5 ">Precio:</strong> 
            {% if product.discount > 0 %}
            <strong class="text-muted fs-6 position-relative">
              $ {{product.total_price}}
             <span class="small position-absolute  top-0 start-100 translate-middle text-decoration-line-through pb-1 text-body-secondary">
              {{product.price}}
               
             </span>
           </strong>
           {% else %}
           <strong class="text-muted fs-6 position-relative">
            $ {{product.total_price}}
          </strong>
           {% endif %}
          </li>
        </ul>
        <div class=" ">
            <h2 class="fs-bold fs-5">Descripción</h2>
            <p class="text-muted text-sm mb-2">
              {{product.small_description}}
              
          </p>
          <p class="text-muted text-sm mb-0">
            {{product.long_description}}
          </p>
          </div>
        
      </div>
    </div>
    <!-- Reviews TABS-->
    <h2 class="fs-bold fs-3">Reseñas de usuarios</h2>
    <div class="px-2 pb-4 pt-2 ">
        
        {% include "shop_templates/productDetail/reviews/review.html" %}
      </div>
    <!-- RELATED PRODUCTS-->
    <h2 class="fs-3  mb-4 ">Productos favoritos</h2>
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6  g-3 mb-5 pb-5 ">
      {% for product in favorite_products %}
        <div id="productCard{{product.product.pk}}">
          {% include "shop_templates/landingPage/productsList/productCard.html" %}
        </div>
      {% endfor %}
  
    </div>
      
  </div>
  {% if cart.disabled %}
  
  <nav class="navbar fixed-bottom justify-content-center d-flex mb-5 mb-sm-0 " id="cartDesktopContainer" style="z-index:100;">
    <div class="d-flex flex-column align-items-between bg-body-tertiary p-2 justify-content-center rounded shadow border mb-2">
      <div class="d-flex align-items-center justify-content-between">
        <div class="w-100  d-flex justify-content-center align-items-center gap-2">
          {% if not item_in_cart %}
          <a 
           hx-get="{% url 'cart_remove_product' pk=product.pk %}"
            hx-target="#cartDesktopContainer"
            hx-swap="innerHTML"
            hx-indicator="#spinnerChangeCart"
            class="d-flex justify-content-center align-items-center btn btn-outline-danger p-2 rounded-circle border border-2 border-danger  ">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="cursor-pointer  bi-trash3-fill" viewBox="0 0 16 16">
            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"></path>
          </svg>
        </a>
        {% endif %}
        <a hx-get="{% url 'cart_decrement_product' pk=product.pk %}"
        hx-target="#cartDesktopContainer"
        hx-swap="innerHTML"
        hx-indicator="#spinnerChangeCart" class="{% if  item_in_cart %}disabled {% endif %} d-flex justify-content-center align-items-center btn btn-outline-danger p-2 border-2 rounded-circle   ">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class=" bi-dash" viewBox="0 0 16 16">
            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
          </svg>
        </a>
        <input 
        hx-post="{% url 'cart_add_product' pk=product.pk %}"
        hx-target="#cartDesktopContainer"
        hx-swap="innerHTML"
        hx-trigger="input changed delay:500ms, cant"
        hx-indicator="#spinnerChangeCart" 
        hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
        min="1" type="number" name='cant' class="form-control border-0 text-center" value="{{get_cant_product}}" aria-label="cant" style="max-width: 100px;">
        <a  hx-get="{% url 'cart_increment_product' pk=product.pk %}"
        hx-target="#cartDesktopContainer"
        hx-swap="innerHTML"
        hx-indicator="#spinnerChangeCart" class="d-flex justify-content-center align-items-center btn btn-outline-success p-2 rounded-circle border-2 ">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class=" bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
          </svg>
      </a >
      {% if not item_in_cart %}
      <div class="dropup-center dropup " >
      <ul class="dropdown-menu dropdown-menu-end mb-3" style="min-width: 280px;">
        <li>
          <form class="mx-2 "
          hx-post="{% url 'cart_message_product' pk=product.pk %}"
            hx-target="#cartDesktopContainer"
            hx-swap="innerHTML"
            hx-trigger="submit"
            hx-indicator="#spinnerChangeMessageProductCart"
            hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'>
            <textarea
            
         class="form-control p-1" name="message" id="ProductCartMessage " placeholder="Escriba su mensage" rows="3">{{get_message_product}}</textarea>
            <div class="d-flex  mt-2 justify-content-end">
              <button type="submit" class="btn {% if get_message_product %}btn-outline-warning{% else %}btn-outline-primary{% endif %} btn-sm mt-1">{% if get_message_product %}Editar {% else %}Anotar{% endif %} </button>
            </div>
         
          </form>
        </li>
        
      </ul>
      <a role="button" data-bs-toggle="dropdown" aria-expanded="false" class="position-relative d-flex justify-content-center align-items-center btn btn-warning p-2 border border-2 border-warning  rounded-circle  shadow-sm">
        <div id="spinnerChangeMessageProductCart"  class="htmx-indicator position-absolute loadding-blur  spinner-border " role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class=" bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
        </svg>
      </a>
    </div>
    {% endif %}
        </div>
        
      </div>
      
        <h6 class="mb-0 mt-1 w-100 d-flex justify-content-center align-items-center">
          <div id="spinnerChangeCart"  class="htmx-indicator me-2 spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          unidades {{get_cant_product}} - $ {{get_price_product}}
          
        </h6>
    
    </div>
    
  </nav>
  {% endif %}
{% endblock contend %}

