<!-- Offcanvas Offert Create -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRightoffertCreate" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel">Create offert</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" 
      hx-get="{% url 'offert_create'%}"
      hx-swap="innerHTML"
      hx-target="#OffertCreateForm"
      hx-trigger="load">
      
      <div id="OffertCreateForm"></div>

      
      
      
    </div>
  </div>
  <!-- End Offcanvas Offert Create -->
  