<!-- Offcanvas Facture Create -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRightFactureCreate" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel">Crear factura</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" 
      hx-get="{% url 'facture_create'%}"
      hx-swap="innerHTML"
      hx-target="#FactureCreateForm"
      hx-trigger="load">
      
      <div id="FactureCreateForm"></div>

      
      
      
    </div>
  </div>
  <!-- End Offcanvas Facture Create -->
  