{% extends "shop_templates/base.html" %}
{% load static %}
{% block title %} Productos{% endblock %}
{% block contend %}
<div class="container">
  <!-- HERO SECTION-->
  <section class="mt-5 py-4">
    <div class="position-relative overflow-hidden py-3 px-1 px-sm-3 " style="min-height: 500px;">
      <div class="col-md-9 text-center text-sm-start  my-sm-5" >
        <h1 class="display-6 fw-bold lh-2  text-uppercase mb-3" style="z-index: 10;">Tenemos todo lo que necesitas</h1>
        <h3 class="fw-normal text-muted mb-3" style="z-index: 10;">Los productos de mejor calidad del mercado a su disposición.</h3>
        
      </div>
      
      <div class="product-device image-shadow d-block " data-aos="fade-up">

      </div>
   </div>
  </section>
  <section class="py-2">
    <div class="container p-0">
      
      <div class="row ">
        <div class="col-12">
        <div 
                
                class=" nav-scroller  mb-3">
                
          <nav class="nav nav-pills pt-1 pb-2 mb-0 justify-content-between gap-1">
            <input type="radio" class="btn-check" name="categories" id="categories-all" autocomplete="off" checked>
            <label 
                hx-get="{% url 'product_list_results' %}"
                hx-target="#ProductList"
                hx-trigger="click"
                hx-swap="innerHTML"
                hx-indicator="#spinner"
                class="btn btn-outline-primary" for="categories-all">Todo</label>

            {% if categories %}
            {% for category in categories %}
            
              <input type="radio" class="btn-check" name="categories" id="{{category.name}}{{category.pk}}" autocomplete="off">
              <label 
              hx-get="{% url 'product_list_results' %}?categories={{category.pk}}"
              hx-target="#ProductList"
              hx-trigger="click"
              hx-swap="innerHTML"
              hx-indicator="#spinner"
              class="btn btn-outline-primary" for="{{category.name}}{{category.pk}}">{{category.name}}</label>

            {% endfor %}
            {% endif %}
         
            
          </nav>
        </div> 
      </div>
        <!-- SHOP SIDEBAR-->
        
        <!-- SHOP LISTING-->
        <div 
        hx-get="{% url 'product_list_results' %}"
        hx-target="#ProductList"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-indicator="#spinner"
        ></div>
        <div class="w-100 position-relative d-flex justify-content-center align-items-center">
          <div id="spinner" class="htmx-indicator w-100 h-100  loadding-blur position-absolute z-10 d-flex justify-content-center align-items-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <div class="col-12 mb-5 pb-5 mb-lg-0  position-relative" id="ProductList">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock contend %}

  