{% extends "shop_templates/base.html" %}
{% load static %}

{% block contend %}
<!-- Hero -->
  <div class="container pt-3 py-sm-5">
    {% include "shop_templates/landingPage/principalHero/hero.html" %}
  </div>
   <!-- End Hero -->
    <!-- Offerts -->
  {% include "shop_templates/landingPage/offerts/offert.html" %}
  <!-- End Offerts -->

   <!-- Principal Categories -->
    
      {% include "shop_templates/landingPage/categoriesList/principal_categoryList.html" %}
       <!-- End Categories -->
  
 <!-- Favorite products -->
  <div class="container mb-4">
    {% include "shop_templates/landingPage/productsList/favoriteProduct.html" %}

  </div>
  <!-- End Favorite products -->

  <!-- Sub Categories -->
    
  {% include "shop_templates/landingPage/categoriesList/categoryList.html" %}
  <!-- End Categories -->

  

<div class="container">
  
  {% include "shop_templates/landingPage/productsList/cheapProduct.html" %}

</div>

  <footer class="py-3 my-4">
    <div class="d-flex flex-wrap justify-content-around justify-content-md-between align-items-center mb-3">
        <ul class="nav col-md-6 col-lg-4 d-flex justify-content-center ">
            <li class="nav-item"><a href="{% url "shop_view" %}" class="nav-link px-2 text-body-emphasis">Inicio</a></li>
            <li class="nav-item"><a href="{% url "products_store_view" %}" class="nav-link px-2 text-body-emphasis">Productos</a></li>
          </ul>
          <!-- Social -->
          {% include "shop_templates/landingPage/social/social.html" %}
           <!-- End Social -->
    </div>
    <div class="d-flex flex-wrap justify-content-between align-items-center pt-3 mb-4 mb-sm-0 border-top px-3">
        <div class="col-12 col-md-4 d-flex  justify-content-center align-items-center">
          
          <span class=" text-body-emphasis">© 2024 Compañía, Remiux</span>
        </div>
        <div class="col-12 col-md-4 d-flex  justify-content-center align-items-center">
          
            <span class=" text-body-emphasis">Creado por MangelRyujin</span>
        </div>
    
        
    </div>
  </footer>

{% endblock contend %}