* {
  scrollbar-width: thin;
  scrollbar-color: rgb(126, 126, 130) transparent;
  margin: 0 ;
  padding: 0;
}

.bi-whatsapp:hover,
.bi-whatsapp:focus{
  cursor: pointer;
  color: #25D366;
  transition: all .3s;
}

.bi-facebook:hover,
.bi-facebook:focus{
  cursor: pointer;
  color: #3b5998;
  transition: all .3s;
}

.bi-twitter:hover,
.bi-twitter:focus{
  cursor: pointer;
  color: #00acee;
  transition: all .3s;
}

.bi-instagram:hover,
.bi-instagram:focus{
  cursor: pointer;
  color:  #c13584;
  transition: all .3s;
}

.image-shadow{
  filter: drop-shadow(3px 12px 7px rgba(0, 0, 0, 0.626));
}

.image-logo-shadow{
  filter: drop-shadow(0px 42px 186px rgba(34, 98, 194, 0.888));
}


.bi{
  vertical-align: -.125em !important;
  fill: currentColor;
}


.text-ellipsis{
  max-width: 60px; /* Ancho máximo del elemento */
  white-space: nowrap; /* No permite saltos de línea */
  overflow: hidden; /* Oculta el texto que excede el ancho */
  text-overflow: ellipsis; /* Muestra puntos suspensivos */
  line-height: 20px;
}

.text-ellipsis-180{
  max-width: 250px !important; /* Ancho máximo del elemento */
  white-space: nowrap !important; /* No permite saltos de línea */
  overflow: hidden !important; /* Oculta el texto que excede el ancho */
  text-overflow: ellipsis !important; /* Muestra puntos suspensivos */
  line-height: 20px !important;
}


@media (max-width: 400px) {
  .text-ellipsis-180{
    max-width: 160px !important; /* Ancho máximo del elemento */
  }
  
}

.hidden-on-top {
  display: none !important;
}

.show-on-scroll {
  display: block !important;
}


.cursor-pointer{
  cursor: pointer !important;
}



.filter-white{
  backdrop-filter: blur(3px) !important;
  background: #000000 !important;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}