{% extends "shop_templates/base.html" %}
{% load static %}

{% block contend %}
<div class="container mb-4 pb-5">
    <div class="pt-5 text-center">
      <img class="d-block mx-auto my-2" src="{% if social.image %}{{social.image.url}}{% else %}{% static "/assets/img/image_not_found.jpg" %}{% endif %}" alt="" width="200" height="200">
      <h1>Compra completada</h1>
      <p class="lead ">Ha completado su compra correctamente.</p>
    </div>
    <div class="w-100 d-flex mt-3 justify-content-center">
      <a class="btn btn-outline-primary shadow-sm border-2 fw-medium" href="{% url "shop_view" %}">Ir a inicio</a>
    </div>
    
</div>

{% endblock contend %}
