{% load static %}

<div class="col text-start" >
          
    <div class="card card-cover  overflow-hidden rounded-2 shadow-sm " 
    style="background-position: center center;background-size: cover; background-image: url('{% if product.product.image_one %}{{product.product.image_one.url}}{% else %}{% static "/assets/img/image_not_found.jpg" %}{% endif %}');">
      
        <div class="w-100  h-100 d-flex flex-column p-1 justify-content-between " style="min-height: 140px;">
          <span class="text-end "><p class="badge rounded-pill bg-primary-subtle text-primary border border-2 border-primary">
            {{product.product.categories.all.0.name}}
          </p></span>
        </div>
        
      
    </div>
    
    <a href="{% url "shop_product_detail_view" pk=product.product.pk %}" class=" text-decoration-none fw-bold d-block small ">{{ product.product.name}}</a>
    <div class="d-flex justify-content-start align-items-center mb-2">
        {% for star in product.product.rating %}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="me-2 text-warning  bi-star-fill" viewBox="0 0 16 16">
            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
          </svg>
        {% endfor %} 
    
      
          
    
    </div>
    {% if product.product.discount > 0 %}
    <strong class="small position-relative mb-2">
      $ {{product.product.total_price}}
        <span class="position-absolute small top-0 start-100 translate-middle text-decoration-line-through pb-1 text-body-secondary">
          {{product.product.price}}
          
        </span>
      </strong> 
    {% else %}
    <strong class="small position-relative mb-2">
      $ {{product.product.total_price}}
    </strong>
    {% endif %}
    
    
      <div class="d-flex justify-content-between gap-2 mt-2 px-1">
        <div class="d-flex gap-2 align-items-center" >
        {% if user.is_authenticated %}
        
        <div
        class="d-flex gap-2"
        hx-get="{% url 'product_cheap_like' pk=product.product.pk %}"
        hx-target="#productCard{{product.product.pk}}Cheap"
        hx-trigger="click"
        hx-swap="innerHTML"
        hx-indicator="#spinnerProductCard{{product.product.pk}}Cheap">
          {% if product.like %}
          <div class="cursor-pointer text-body-emphasis d-flex justify-content-center align-items-center position-relative">
            <div id="spinnerProductCard{{product.product.pk}}Cheap" class="htmx-indicator loadding-blur position-absolute z-10 d-flex justify-content-center align-items-center">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="text-danger bi-suit-heart-fill" viewBox="0 0 16 16">
              <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"/>
            </svg>
          </div>
          {% else %}
          <div class="cursor-pointer text-body-emphasis d-flex justify-content-center align-items-center position-relative">
            <div id="spinnerProductCard{{product.product.pk}}Cheap" class="htmx-indicator loadding-blur position-absolute z-10 d-flex justify-content-center align-items-center">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi-suit-heart-fill" viewBox="0 0 16 16">
              <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"/>
            </svg>
          </div>
          {% endif %}
        </div>
        {% else %}
          <span  class="cursor-none text-body-tertiary d-flex justify-content-center align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class=" bi-suit-heart-fill" viewBox="0 0 16 16">
              <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"/>
            </svg>
          </span>
        {% endif %}
        
        
        <a href="{% url "shop_product_detail_view" pk=product.product.pk %}" class=" text-body-emphasis text-decoration-none cursor-pointer d-flex justify-content-center align-items-center">
          <span class="small">{{product.product.format_views}}</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="ms-1 bi-eye-fill" viewBox="0 0 16 16">
            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
          </svg>
        </a>
      </div>
      {% if  cart.disabled %}
      <a href="{% url "shop_product_detail_view" pk=product.product.pk %}" class=" px-2 py-1 btn btn-dark border-1 border shadow-sm  d-flex justify-content-center align-items-center">
        {% if product.product_cart %}
        <strong>{% if product.product_cart > 99 %}
          99+
          {% else %}
          {{product.product_cart}}
          {% endif %}</strong>
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class=" bi-cart-plus-fill" viewBox="0 0 16 16">
          <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0"/>
        </svg> 
        {% endif %}
      </a>
      {% endif %}
      </div>

  </div>