<!-- Offcanvas Stock Create -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRightStockMovementSimpleCreate" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel">Create movement simple</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" 
      hx-get="{% url 'stock_movements_simple_create'%}"
      hx-swap="innerHTML"
      hx-target="#StockMovementSimpleCreateForm"
      hx-trigger="load">
      
      <div id="StockMovementSimpleCreateForm"></div>

      
      
      
    </div>
  </div>
  <!-- End Offcanvas Stock Create -->
  