{% load static %}

{% if form %}
  <form 
          
          hx-post="{% url 'stock_movements_multiple_create' %}"
          hx-target="#StockMovementMultipleCreateForm"
          hx-swap="innerHTML"
          hx-trigger="submit"
          hx-indicator="#spinnerStockMultipleCreate">
          {% csrf_token %}
          
          <div class="col-12 mt-4">
            <div class="row">
              <div class="col-12">
                <label for="{{ form.stock_one.id_for_label }}Multiple" class="form-label">Stock uno</label>
                <div class="input-group">
                  <select  class="form-select" required name="stock_one" id="{{ form.stock_one.id_for_label }}Multiple">
                    <option value="" >Selecciona stock</option>
                    
                    {% for stock_one in stocks %}
                    <option value="{{ stock_one.id }}" {% if form.stock_one.value|default:'' == stock_one.id|stringformat:'s' %}selected{% endif %}>
                      {{ stock_one.name }}
                    </option>
                    {% endfor %}
                  </select>
                </div>
                {% if form.stock_one.errors %}
                <div class="alert alert-danger mt-2">
                {% for error in form.stock_one.errors %}
                    {{ error }}
                {% endfor %}
              </div>
            {% endif %}
              </div>
            </div>
          </div>
          <div class="col-12 mt-4">
            <div class="row">
              <div class="col-12">
                <label for="{{ form.stock_two.id_for_label }}Multiple" class="form-label">Stock dos</label>
                <div class="input-group">
                  <select  class="form-select" required name="stock_two" id="{{ form.stock_two.id_for_label }}Multiple">
                    <option value=""  >Selecciona stock</option>
                    {% for stock_two in stocks %}
                    <option value="{{ stock_two.id }}" {% if form.stock_two.value|default:'' == stock_two.id|stringformat:'s' %}selected{% endif %}>
                      {{ stock_two.name }}
                    </option>
                    {% endfor %}
                  </select>
                </div>
                {% if form.stock_two.errors %}
                <div class="alert alert-danger mt-2">
                {% for error in form.stock_two.errors %}
                    {{ error }}
                {% endfor %}
              </div>
            {% endif %}
              </div>
            </div>
          </div>
          <div class="col-12  mt-4 ">
            <label for="{{ form.cant.id_for_label }}" class="form-label">Cantidad</label>
            <div class="input-group">
              <input type="number" min=1 class="form-control" value={% if form.cant.value %}{{form.cant.value}}{% else %}1{% endif %} required name="cant" id="{{ form.cant.id_for_label }}" placeholder="1">
            
            </div>
            {% if form.cant.errors %}
            <div class="alert alert-danger mt-2">
                {% for error in form.cant.errors %}
                    {{ error }}
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="col-12  mt-4 ">
            <label for="{{ form.motive.id_for_label }}Multiple" class="form-label">Motivo</label>
            <input type="text" class="form-control" value="{% if form.motive.value %}{{form.motive.value}}{% else %}{% endif %}" required name="motive" id="{{ form.motive.id_for_label }}Multiple" placeholder="Motivo">
            {% if form.motive.errors %}
            <div class="alert alert-danger mt-2">
                {% for error in form.motive.errors %}
                    {{ error }}
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="col-12  mt-4 ">
            <label for="{{ form.description.id_for_label }}Multiple" class="form-label">Descripción</label>
            <textarea class="form-control"  required name="description" id="{{ form.description.id_for_label }}Multiple" placeholder="Descripción">{% if form.description.value %}{{form.description.value}}{% endif %}</textarea>
          
            
              {% if form.description.errors %}
            <div class="alert alert-danger mt-2">
                {% for error in form.description.errors %}
                    {{ error }}
                {% endfor %}
              </div>
            {% endif %}
            </div>
          
            
          {% if message %}
          <div class="alert alert-dismissible alert-success d-flex align-items-center mb-0 mt-2  px-2 fade show" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="me-2 bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
              </svg>
              <div class="small">
                {{message}}
              </div>
              <span type="button" class="btn-close px-2" data-bs-dismiss="alert" aria-label="Close"></span>
            </div>
            <div 
            hx-get="{% url 'stock_movements_table_results' %}"
            hx-target="#StockMovementTableResults"
            hx-trigger="load"
            hx-swap="innerHTML"
            hx-indicator="#spinner"></div>
        {% endif %}
          {% if error %}
          <div class="alert alert-dismissible alert-danger d-flex align-items-center mb-0 mt-2 px-2 fade show" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="me-2 bi-exclamation-triangle-fill" viewBox="0 0 16 16">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
            </svg>
              <div class="small">
                {{error}}
              </div>
              <span type="button" class="btn-close px-2" data-bs-dismiss="alert" aria-label="Close"></span>
            </div>
          {% endif %}
          <small class=" w-100 d-flex justify-content-end mt-3">
            <button type="submit" class="btn d-flex justify-content-center align-items-center btn-outline-primary shadow-sm border-2 border-primary px-5">
              <span id="spinnerStockMultipleCreate" class="htmx-indicator spinner-border spinner-border-sm me-2" ></span>Crear</button>
        </small>
  </form> 
{% endif %}

